 
    <div class="card">
      <img src="https://static.swappa.com/static/images/categories/square/category_laptops.png" alt="Product Image" />
      <div class="card-body-1">
        <h3 class="card-title"><%= item.name %></h3>
        <div class="rating">★★★★☆</div>
        <div class="price"><%= item.price %></div>
        <p class="description"><%= item.description %></p>
      </div>
    </div>
