
    <div class="card">
      <img src="https://static.swappa.com/static/images/categories/square/category_laptops.png" alt="Product Image" />
      <div class="card-body">
        <h3 class="card-title"><%= item.name %></h3>
        <div class="rating"><%= '<i id="stars" class="fa-regular fa-star"></i>'.html_safe * item.average_rating.to_i %></div>
        <div class="price">$<%= item.price %></div>
        <p class="description"><%= item.description %></p>
      </div>
    </div>
