.search-form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 15px;
}

.search-form .form-control {
  height: 3.5rem;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid grey;
  border-radius: 20px;
  background-color: #c0bdbd;
}

.search-form .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}
